*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width:100% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar {
    
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(4, 18, 63, 0.8);
    padding: 10px 10px;
    position: fixed;
    top: 0;
    height: 60px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.logo a{
    font-size: large;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
span{
    color: green;
}
.banner{
    
    text-align: center;
    padding: 20vh;
    background-color: green;
    color: white;
    box-sizing: border-box;
    
}
.contact{
    padding: 100px 50px;
    display: flex;
   
}
.left{
    margin-top: 50px;
    width: 50%;
    padding: 20px;
 
}
.right{
    width: 50%;

}
#btn{
    color:white;
    background-color: green;
    align-items: center;
    height: 30px;
    width: 70px;
    border: 1px,green;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 1s ease, transform 0.3s ease;
}
#btn:hover{
    background-color: blue;
}
form {
    display: flex;
    flex-direction: column;
    border: 2px solid #eee;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
label {
    font-size: 16px;
    margin-bottom: 5px;
}
.left h1{
    color: green;
}